body{
  background-color: #FBF8F1;
  margin:0;
}

p{
  line-height: 2;
  font-size: 17px;
}
h1{
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  letter-spacing: normal;
  font-size: 400%;
  padding-bottom: 0;
}
h2{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 30px;
}

h3{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0;
  font-size: 20px;
}
.top-container{
  padding-top: 100px;
  background-color: #E4F9F5;
  text-align: center;
  position: relative;

}
.cloud1{
  position: absolute;
  LEFT:1050px;
  top: 125px;
  height: 562px;
  width: 500px;
}
.cloud2{
  position: absolute;
  top:200px;
  left: 200px;
  height: 500px;
  width: 500px;
}
.mountain{

  height: 500px;
  width: 100%;

}
.piyush{
  margin-top: 100px;
  width:20%;
  height:20%;
}

.gif{
  margin: auto;
  width:25%;
  height: 20%;
  float: left;
  margin-right: 30px;

}
.skill-row{
  width: 50%;
  text-align: left;
  margin: 0 auto 0 auto;
  line-height: 2;
}


.gif1{
  margin: auto;
  width:25%;
  height: 20%;
  float: right;
  margin-right: 30px;
  margin-left: 10px;
}

hr{
  margin-top: 100px;
  margin-bottom: 100px;
  border-style: dotted none none;
  width: 10%;
  border-color: grey;
  border-width: 10px;
}
.contact-me{
  text-align: center;
}
.profile{
  text-align: center;
}

.intro{
  width: 30%;
  margin:auto;
}

.skl{
  margin-bottom: 50px;
}


.contact-me{
  margin-bottom:80px;
}


.bottom-container{
  text-align: center;

  background-color: #E4F9F5;
  padding-top: 40px;
  padding-bottom: 30px;

}

.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #3f82ab);
  background-image: -moz-linear-gradient(top, #11CDD4, #3f82ab);
  background-image: -ms-linear-gradient(top, #11CDD4, #3f82ab);
  background-image: -o-linear-gradient(top, #11CDD4, #3f82ab);
  background-image: linear-gradient(to bottom, #11CDD4, #3f82ab);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 22px 10px 22px;
  text-decoration: none;
  position: relative;
  margin-left: 23px;

}

.btn:hover {
  background: #53827b;
  background-image: -webkit-linear-gradient(top, #53827b, #2bc4ad);
  background-image: -moz-linear-gradient(top, #53827b, #2bc4ad);
  background-image: -ms-linear-gradient(top, #53827b, #2bc4ad);
  background-image: -o-linear-gradient(top, #53827b, #2bc4ad);
  background-image: linear-gradient(to bottom, #53827b, #2bc4ad);
  text-decoration: none;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  margin: 10px 20px ;
}

a:hover{
  color: #11CDD4;
}
